@font-face {
    font-family: 'figtree';
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root{
    --Yellow: hsl(47, 88%, 63%);
    --Black: hsl(0, 0%, 7%);
}

body{
    display: flex;
    width: 375px;
    margin: 0 auto;
    background-color: var(--Yellow);
    font-family: 'figtree';
    line-height: 25px;
}

main{
    margin: 0 auto;
    width: 375px;
    height: 520px;
    margin-top: 100px;
    border-radius: 10px;
    background-color: white;
    border-color: var(--Black);
    box-shadow: 7px 7px 1px 1px black;
}

p{
    padding-left: 30px;
    font-weight: 400;
    color: gray;
}

.pub{
    color: black;
    margin-top: 10px;
}

img{
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
}

.greg{
    display: inline-block;
    color: black;
    font-weight: 800;
    vertical-align: middle;
    text-align: center;
    padding-left: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2{
    display: flex;
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    margin-left: 30px;
    background-color: var(--Yellow);
}

h1{
    margin-left: 30px;
    font-size: 23px;
    font-weight: 800;
}

.foto{
    display: inline-block;
    width: 40px;
    padding-left: 30px;
    padding-top: 0;
}






@media screen and (min-width: 768px){
    @font-face {
        font-family: 'figtree';
        src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
    }

    :root{
        --Yellow: hsl(47, 88%, 63%);
        --Black: hsl(0, 0%, 7%);
    }

    body{
        display: flex;
        margin: 0 auto;
        background-color: var(--Yellow);
        font-family: 'figtree';
        line-height: 25px;
    }

    main{
        margin: 0 auto;
        width: 380px;
        height: 520px;
        margin-top: 100px;
        border-radius: 10px;
        background-color: white;
        border-color: var(--Black);
        box-shadow: 7px 7px 1px 1px black;
    }

    p{
        padding-left: 30px;
        font-weight: 400;
        color: gray;
    }

    .pub{
        color: black;
        margin-top: 10px;
    }

    img{
        display: flex;
        margin: 0 auto;
        border-radius: 10px;
        padding-top: 20px;
    }

    .greg{
        display: inline-block;
        color: black;
        font-weight: 800;
        vertical-align: middle;
        text-align: center;
        padding-left: 10px;
        margin-top: 0;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    h2{
        display: flex;
        width: 100px;
        border-radius: 5px;
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        margin-left: 30px;
        background-color: var(--Yellow);
    }

    h1{
        margin-left: 30px;
        font-size: 23px;
        font-weight: 800;
    }

    .foto{
        display: inline-block;
        width: 40px;
        padding-left: 30px;
        padding-top: 0;
    }
}